body{

font-family: Arial, sans-serif;
height:100vh;
display:flex;
justify-content:center;
align-items:center;

background-image:url("background.jpg");
background-size:cover;
background-position:center;

margin:0;

}

.container{

background:rgba(255,255,255,0.9);
padding:35px;
border-radius:12px;
text-align:center;
width:320px;

box-shadow:0 0 15px rgba(0,0,0,0.3);

}

h1{

margin-bottom:20px;

}

input{

padding:10px;
width:200px;

border-radius:6px;
border:1px solid #ccc;

font-size:14px;

}

button{

padding:10px 15px;
margin:10px;

border:none;
background:#007bff;
color:white;

border-radius:6px;
cursor:pointer;

font-size:14px;

}

button:hover{

background:#0056b3;

}

a{

text-decoration:none;
color:#007bff;
font-weight:bold;

}


a:hover{

text-decoration:underline;

}

ul{

list-style:none;
padding:0;

margin-top:15px;

}

li{

margin:10px 0;

display:flex;
justify-content:space-between;
align-items:center;

background:#f3f3f3;

padding:8px 10px;

border-radius:6px;

}

li span{

cursor:pointer;
color:#007bff;
font-weight:bold;

}

li button{

background:#ff4d4d;

padding:6px 10px;

font-size:12px;

}


li button:hover{

background:#cc0000;

}